---
cuid: 2c70v-470
docid: 06a69d26e8db6ba
slug: holo-index
---
<h3>Holo Index</h3>
link: <a href="https://share.clickup.com/d/{{page.cuid}}/{{page.slug}}">/d/{{page.cuid}}/{{page.slug}}</a>
or <a href="https://share.clickup.com/d/h/{{page.cuid}}/{{page.docid}}">/d/h/{{page.cuid}}/{{page.docid}}</a>

<iframe class="clickup-embed clickup-dynamic-height" src="https://share.clickup.com/d/2c70v-470/holo-index" frameborder="0" onmousewheel="" width="100%" height="90%" style="background: transparent; border: 1px solid #ccc;"></iframe><script async src="https://app-cdn.clickup.com/assets/js/forms-embed/v1.js"></script>
<!--
<iframe class="clickup-embed clickup-dynamic-height" src="https://share.clickup.com/d/h/2c70v-470/06a69d26e8db6ba" frameborder="0" onmousewheel="" width="100%" height="100%" style="background: transparent; border: 1px solid #ccc;"></iframe><script async src="https://app-cdn.clickup.com/assets/js/forms-embed/v1.js"></script>
-->
